@import 'tailwindcss';
@import "@tabler/icons-webfont/dist/tabler-icons.min.css";

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

/* override the 'prefers-color-scheme' media query */
@custom-variant dark (&:where(.dark, .dark *));


/*Self-hosted variable fonts (TTF)*/
@font-face {
    font-family: 'Plus Jakarta Sans';
    src: url('../fonts/Plus_Jakarta_Sans/PlusJakartaSans-VariableFont_wght.ttf') format('truetype');
    font-weight: 400 500 600 700;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Plus Jakarta Sans';
    src: url('../fonts/Plus_Jakarta_Sans/PlusJakartaSans-Italic-VariableFont_wght.ttf') format('truetype');
    font-weight: 400 500 600 700;
    font-style: italic;
    font-display: swap;
}

@theme {
    /* --font-sans: 'Plus Jakarta Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji'; */


    /* --color-red-500: oklch(63.7% 0.237 25.331);
    --color-yellow-500: oklch(79.5% 0.184 86.047);
    --color-yellow-600: oklch(68.1% 0.162 75.834);
    --color-teal-500: oklch(70.4% 0.14 182.503);
    --color-cyan-500: oklch(71.5% 0.143 215.221);
    --color-blue-300: oklch(80.9% 0.105 251.813);
    --color-blue-500: oklch(62.3% 0.214 259.815);
    --color-blue-600: oklch(54.6% 0.245 262.881);
    --color-blue-700: oklch(48.8% 0.243 264.376);
    --color-gray-100: oklch(96.7% 0.003 264.542);
    --color-gray-200: oklch(92.8% 0.006 264.531);
    --color-gray-400: oklch(70.7% 0.022 261.325);
    --color-gray-500: oklch(55.1% 0.027 264.364);
    --color-gray-600: oklch(44.6% 0.03 256.802);
    --color-gray-700: oklch(37.3% 0.034 259.733);
    --color-white: #fff; */
    --spacing: 0.25rem;
    --container-md: 28rem;
    --text-xs: 0.75rem;
    --text-xs--line-height: 1.33333;
    --text-sm: 0.875rem;
    --text-sm--line-height: 1.42857;
    --text-base: 1rem;
    --text-base--line-height: 1.5;
    --text-lg: 1.125rem;
    --text-lg--line-height: 1.55556;
    --text-xl: 1.25rem;
    --text-xl--line-height: 1.4;
    --text-2xl: 1.5rem;
    --text-2xl--line-height: 1.33333;
    --text-3xl: 1.875rem;
    --text-3xl--line-height: 1.2;
    --text-4xl: 2.25rem;
    --text-4xl--line-height: 1.11111;
    --font-weight-normal: 400;
    --font-weight-medium: 500;
    --font-weight-semibold: 600;
    --font-weight-bold: 700;
    --radius-sm: 4px;
    --radius-md: 7px;
    --radius-lg: 0.5rem;
    --radius-xl: 0.75rem;
    --ease-in: cubic-bezier(0.4, 0, 1, 1);
    --ease-out: cubic-bezier(0, 0, 0.2, 1);
    --ease-in-out: cubic-bezier(0.4, 0, 0.2, 1);
    --default-transition-duration: 150ms;
    --default-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    --default-font-family: var(--font-sans);
    --font-sans: 'Plus Jakarta Sans', sans-serif;
    --color-primary: oklch(65.33% 0.184 266.79);
    --color-secondary: oklch(76.32% 0.139 237.20);
    --color-info: oklch(68.98% 0.165 257.10);
    --color-success: oklch(80.48% 0.150 174.63);
    --color-warning: oklch(80.94% 0.165 74.03);
    --color-error: oklch(74.75% 0.144 35.82);
    --color-dark: oklch(27.84% 0.027 257.53);
    --animate-flash-fade-out: flash-fade-out 3s ease-out;
    @keyframes flash-fade-out {
        0% {opacity: 1;}
        50% {opacity: 1;}
        100% {opacity: 0;}
    }
}

@import 'base.css' layer(base);
@import 'utilities.css' layer(utilities);
@import 'layout.css';
@import 'calendar.css';
