*,
::backdrop,
::file-selector-button,
:after,
:before {
    border: 0 solid;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
:host,
html {
    line-height: 1.5;
    -webkit-text-size-adjust: 100%;
    font-family: var(
        --default-font-family,
        ui-sans-serif,
        system-ui,
        sans-serif,
        "Apple Color Emoji",
        "Segoe UI Emoji",
        "Segoe UI Symbol",
        "Noto Color Emoji"
    );
    font-feature-settings: var(--default-font-feature-settings, normal);
    font-variation-settings: var(--default-font-variation-settings, normal);
    -moz-tab-size: 4;
    -o-tab-size: 4;
    tab-size: 4;
    -webkit-tap-highlight-color: transparent;
}
hr {
    border-top-width: 1px;
    color: inherit;
    height: 0;
}
abbr:where([title]) {
    -webkit-text-decoration: underline dotted;
    text-decoration: underline dotted;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: inherit;
}
a {
    color: inherit;
    -webkit-text-decoration: inherit;
    text-decoration: inherit;
}
b,
strong {
    font-weight: bolder;
}
code,
kbd,
pre,
samp {
    font-family: var(
        --default-mono-font-family,
        ui-monospace,
        SFMono-Regular,
        Menlo,
        Monaco,
        Consolas,
        "Liberation Mono",
        "Courier New",
        monospace
    );
    font-feature-settings: var(--default-mono-font-feature-settings, normal);
    font-size: 1em;
    font-variation-settings: var(
        --default-mono-font-variation-settings,
        normal
    );
}
small {
    font-size: 80%;
}
sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}
sub {
    bottom: -0.25em;
}
sup {
    top: -0.5em;
}
table {
    border-collapse: collapse;
    border-color: inherit;
    text-indent: 0;
}
:-moz-focusring {
    outline: auto;
}
progress {
    vertical-align: baseline;
}
summary {
    display: list-item;
}
menu,
ol,
ul {
    list-style: none;
}
audio,
canvas,
embed,
iframe,
img,
object,
svg,
video {
    display: block;
    vertical-align: middle;
}
img,
video {
    height: auto;
    max-width: 100%;
}
::file-selector-button,
button,
input,
optgroup,
select,
textarea {
    background-color: transparent;
    border-radius: 0;
    color: inherit;
    font: inherit;
    font-feature-settings: inherit;
    font-variation-settings: inherit;
    letter-spacing: inherit;
    opacity: 1;
}
:where(select:is([multiple], [size])) optgroup {
    font-weight: bolder;
}
:where(select:is([multiple], [size])) optgroup option {
    padding-inline-start: 20px;
}
::file-selector-button {
    margin-inline-end: 4px;
}
::-moz-placeholder {
    opacity: 1;
}
::placeholder {
    opacity: 1;
}
@supports (not (-webkit-appearance: -apple-pay-button)) or
    (contain-intrinsic-size: 1px) {
    ::-moz-placeholder {
        color: currentcolor;
        @supports (color: color-mix(in lab, red, red)) {
            color: color-mix(in oklab, currentcolor 50%, transparent);
        }
    }
    ::placeholder {
        color: currentcolor;
        @supports (color: color-mix(in lab, red, red)) {
            color: color-mix(in oklab, currentcolor 50%, transparent);
        }
    }
}
textarea {
    resize: vertical;
}
::-webkit-search-decoration {
    -webkit-appearance: none;
}
::-webkit-date-and-time-value {
    min-height: 1lh;
    text-align: inherit;
}
::-webkit-datetime-edit {
    display: inline-flex;
}
::-webkit-datetime-edit-fields-wrapper {
    padding: 0;
}
::-webkit-datetime-edit,
::-webkit-datetime-edit-day-field,
::-webkit-datetime-edit-hour-field,
::-webkit-datetime-edit-meridiem-field,
::-webkit-datetime-edit-millisecond-field,
::-webkit-datetime-edit-minute-field,
::-webkit-datetime-edit-month-field,
::-webkit-datetime-edit-second-field,
::-webkit-datetime-edit-year-field {
    padding-block: 0;
}
:-moz-ui-invalid {
    box-shadow: none;
}
::file-selector-button,
button,
input:where([type="button"], [type="reset"], [type="submit"]) {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
}
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
    height: auto;
}
[hidden]:where(:not([hidden="until-found"])) {
    display: none !important;
}
[multiple],
  [type=date],
  [type=datetime-local],
  [type=email],
  [type=month],
  [type=number],
  [type=password],
  [type=search],
  [type=tel],
  [type=text],
  [type=time],
  [type=url],
  [type=week],
  input:where(:not([type])),
  select,
  textarea {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: #fff;
    border-color: oklch(55.1% .027 264.364);
    border-radius: 0;
    border-width: 1px;
    font-size: 1rem;
    line-height: 1.5rem;
    padding: .5rem .75rem;
    --tw-shadow: 0 0 #0000;
    &:focus {
      outline: 2px solid transparent;
      outline-offset: 2px;
      --tw-ring-inset: var(--tw-empty, /*!*/
      /*!*/
      );
      --tw-ring-offset-width: 0px;
      --tw-ring-offset-color: #fff;
      --tw-ring-color: oklch(54.6% 0.245 262.881);
      --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color);
      --tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(1px + var(--tw-ring-offset-width)) var(--tw-ring-color);
      border-color: oklch(54.6% .245 262.881);
      box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow)
    }
  }
  input::-moz-placeholder,
  textarea::-moz-placeholder {
    color: oklch(55.1% .027 264.364);
    opacity: 1
  }
  input::placeholder,
  textarea::placeholder {
    color: oklch(55.1% .027 264.364);
    opacity: 1
  }
  ::-webkit-datetime-edit-fields-wrapper {
    padding: 0
  }
  ::-webkit-date-and-time-value {
    min-height: 1.5em;
    text-align: inherit
  }
  ::-webkit-datetime-edit {
    display: inline-flex
  }
  ::-webkit-datetime-edit,
  ::-webkit-datetime-edit-day-field,
  ::-webkit-datetime-edit-hour-field,
  ::-webkit-datetime-edit-meridiem-field,
  ::-webkit-datetime-edit-millisecond-field,
  ::-webkit-datetime-edit-minute-field,
  ::-webkit-datetime-edit-month-field,
  ::-webkit-datetime-edit-second-field,
  ::-webkit-datetime-edit-year-field {
    padding-bottom: 0;
    padding-top: 0
  }
  select {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 20 20'%3E%3Cpath stroke='oklch(55.1%25 0.027 264.364)' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5' d='m6 8 4 4 4-4'/%3E%3C/svg%3E");
    background-position: right .5rem center;
    background-repeat: no-repeat;
    background-size: 1.5em 1.5em;
    padding-right: 2.5rem;
    -webkit-print-color-adjust: exact;
    print-color-adjust: exact
  }
  [multiple],
  [size]:where(select:not([size="1"])) {
    background-image: none;
    background-position: 0 0;
    background-repeat: unset;
    background-size: initial;
    padding-right: .75rem;
    -webkit-print-color-adjust: unset;
    print-color-adjust: unset
  }
  [type=checkbox],
  [type=radio] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: #fff;
    background-origin: border-box;
    border-color: oklch(55.1% .027 264.364);
    border-width: 1px;
    color: oklch(54.6% .245 262.881);
    display: inline-block;
    flex-shrink: 0;
    height: 1rem;
    padding: 0;
    -webkit-print-color-adjust: exact;
    print-color-adjust: exact;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    vertical-align: middle;
    width: 1rem;
    --tw-shadow: 0 0 #0000
  }
  [type=checkbox] {
    border-radius: 0
  }
  [type=radio] {
    border-radius: 100%
  }
  [type=checkbox]:focus,
  [type=radio]:focus {
    outline: 2px solid transparent;
    outline-offset: 2px;
    --tw-ring-inset: var(--tw-empty, /*!*/
    /*!*/
    );
    --tw-ring-offset-width: 2px;
    --tw-ring-offset-color: #fff;
    --tw-ring-color: oklch(54.6% 0.245 262.881);
    --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color);
    --tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(2px + var(--tw-ring-offset-width)) var(--tw-ring-color);
    box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow)
  }
  [type=checkbox]:checked,
  [type=radio]:checked {
    background-color: currentColor;
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    border-color: transparent
  }
  [type=checkbox]:checked {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 16 16'%3E%3Cpath d='M12.207 4.793a1 1 0 0 1 0 1.414l-5 5a1 1 0 0 1-1.414 0l-2-2a1 1 0 0 1 1.414-1.414L6.5 9.086l4.293-4.293a1 1 0 0 1 1.414 0'/%3E%3C/svg%3E");
    @media (forced-colors: active) {
      -webkit-appearance:auto;
      -moz-appearance: auto;
      appearance: auto
    }
  }
  [type=radio]:checked {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 16 16'%3E%3Ccircle cx='8' cy='8' r='3'/%3E%3C/svg%3E");
    @media (forced-colors: active) {
      -webkit-appearance:auto;
      -moz-appearance: auto;
      appearance: auto
    }
  }
  [type=checkbox]:checked:focus,
  [type=checkbox]:checked:hover,
  [type=radio]:checked:focus,
  [type=radio]:checked:hover {
    background-color: currentColor;
    border-color: transparent
  }
  [type=checkbox]:indeterminate {
    background-color: currentColor;
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 16 16'%3E%3Cpath stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M4 8h8'/%3E%3C/svg%3E");
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    border-color: transparent;
    @media (forced-colors: active) {
      -webkit-appearance:auto;
      -moz-appearance: auto;
      appearance: auto
    }
  }
  [type=checkbox]:indeterminate:focus,
  [type=checkbox]:indeterminate:hover {
    background-color: currentColor;
    border-color: transparent
  }
  [type=file] {
    background: unset;
    border-color: inherit;
    border-radius: 0;
    border-width: 0;
    font-size: unset;
    line-height: inherit;
    padding: 0
  }
  [type=file]:focus {
    outline: 1px solid ButtonText;
    outline: 1px auto -webkit-focus-ring-color
  }
