.card,
.hs-dropdown-menu {
    background-color: var(--color-white);
    border-radius: var(--radius-md);
    --tw-shadow:
        var(--tw-shadow-color, rgba(145, 158, 171, 0.2)) 0px 0px 2px 0px,
        var(--tw-shadow-color, rgba(145, 158, 171, 0.12)) 0px 12px 24px -4px;
    box-shadow:
        var(--tw-inset-shadow), var(--tw-inset-ring-shadow),
        var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow);
}
.container {
    width: 100%;
    @media (width >=40rem) {
        max-width: 40rem;
    }
    @media (width >=48rem) {
        max-width: 48rem;
    }
    @media (width >=64rem) {
        max-width: 64rem;
    }
    @media (width >=80rem) {
        max-width: 80rem;
    }
    @media (width >=96rem) {
        max-width: 96rem;
    }
}
.container {
    max-width: 1200px;
    padding-inline: calc(var(--spacing) * 5);
}
.container,
.mx-auto {
    margin-inline: auto;
}
.btn,
.btn-empty,
.btn-outline-primary,
.btn-danger {
    font-size: var(--text-sm);
    font-weight: var(--font-weight-medium);
    line-height: var(--tw-leading, var(--text-sm--line-height));
    padding-block: calc(var(--spacing) * 2);
    padding-inline: calc(var(--spacing) * 4);
    text-align: center;
    border-radius: var(--radius-md);
}
.btn-empty {
    color: var(--color-primary);
}
.btn-outline-primary {
    border-color: var(--color-primary);
    border-style: var(--tw-border-style);
    border-width: 1px;
    color: var(--color-primary);
}
.btn {
    background-color: var(--color-primary);
    color: var(--color-white);
}
.btn-danger {
    background-color: var(--color-error);
    color: var(--color-white);
}
/* input[type="radio"] + label {
    font-size: var(--text-sm);
    font-weight: var(--font-weight-medium);
    line-height: var(--tw-leading, var(--text-sm--line-height));
    padding-block: calc(var(--spacing) * 2);
    padding-inline: calc(var(--spacing) * 4);
    text-align: center;
    border-radius: var(--radius-md);
    background: transparent;
    color: var(--color-primary);
    cursor: pointer;
    border: 1px solid var(--color-primary);
}
input[type="radio"]:checked + label {
    background: var(--color-primary);
    border: none;
    color: var(--color-white);
} */
/* input[type="file"] {
    display: block;
    width: 100%;
    font-size: 0.875rem;
    line-height: 1.25rem;
    color: var(--color-black);
    border: 1px solid var(--color-primary);
} */
input[type="file"]::file-selector-button {
    margin-right: calc(var(--spacing) * 4);
    padding: calc(var(--spacing) * 2) calc(var(--spacing) * 4);
    border-radius: calc(var(--spacing) * 2);
    border-width: 0;
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: 500;
    background-color: var(--color-primary);
    color: var(--color-white);
}
input[type="file"]::file-selector-button:hover {
    opacity: 0.9;
}
.pill {
    @apply bg-blue-500 border border-blue-500 text-white items-center gap-x-1.5 py-1 leading-3 px-2 rounded-md text-xs font-medium;
}
.pill.outlined {
    @apply bg-white border border-blue-500 text-blue-500;
}
.card {
    padding: calc(var(--spacing) * 6);
}
.card-section {
    background-color: var(--color-gray-50);
    border-radius: var(--radius-md);
    padding-block: calc(var(--spacing) * 4);
    padding-inline: calc(var(--spacing) * 4);
}

.hs-overlay.open {
    --tw-translate-x: calc(var(--spacing) * 0);
    translate: var(--tw-translate-x) var(--tw-translate-y);
    display: block;
    /* position: sticky; */
}
.icon-circle {
    background-color: rgb(var(--bs-dark-rgb));
    display: inline-block;
    width: 15px;
    height: 15px;
    border-radius: 100%;
    position: relative;
}

.icon-circle.circle-primary {
    background-color: var(--color-primary);
}

.icon-circle.circle-muted {
    background-color: var(--color-info);
    opacity: 0.8;
}

.icon-circle:before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    width: 5px;
    height: 5px;
    border-radius: 100%;
    background-color: #fff;
    display: block;
    margin: 0 auto;
    top: 5px;
}
